/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */


body {
    color: #333;
}



a {
    text-decoration: none;
    color: #1b98f8;
}

body, p, input, select, textarea,
.pure-g [class *= "pure-u"] {
   font-family: 'Merriweather Sans', sans-serif !important;
}

/*
 * -- BUTTON STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
}

.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */
#layout, #topmenu, #timeline, #main {
    margin: 0;
    padding: 0;
}

#ldash {
  padding: 5px;
  background: black;
  border-radius: 8px;
}



/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav .pure-menu.pure-menu-open {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu a:hover,
    #nav .pure-menu a:focus {
        background: rgb(55, 60, 90);
    }
    #nav .pure-menu a {
        color: #fff;
        margin-left: 0.5em;
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }

/*
 * -- PROFILE STYLES --
 * Modifying styles of objects in the profile.
 */

#ldash .profile{
 background: white;
 border-radius: 6px;
 padding: 5px;
}


.follow-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
}

.is-following {
  background : #3366FF;
}

.is-not-following {
  background : #E61616;
}

.is-self {
  disabled : true; 
  display : none !important;
}

.profile .avatar {
  width: 128px;
  height: 128px;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

.profile .name, .profile .handle, .profile .follow-button, .follow-label, .follow-count {
  text-align: center;
}

.profile .followstatswrapper {
  margin: 1em 0em;
}

.follow-label {
  margin: 8px 0px !important
}
.follow-count {
  margin: 8px 0px !important
}


#ldash #bleat-input-wrapper {
  margin: 6px 5px 6px 5px;
}

.bleat-input-box{
  width: 100%;
      -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  vertical-align: initial;
  margin: auto;
}

.compose-box .bleat-submit {
    width: 100%;
    color: #fff;
    background: #1b98f8;
    margin: 5px auto;
}

/*
 * -- bleat STYLES --
 * Styles relevant to individual bleats.
 */


.bleat {
    margin: 1em 1em .5em 1em ;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

        
    .bleat .content {
    }

    .bleat .metadata {
      padding-bottom: 4px;
    }

    .bleat .body{
    }

    .bleat .avatar-wrapper {
    }

    .bleat .avatar {
        margin-top: 10px;
        border-radius: 3px;
        width: 56px;
        height: 56px;
    }

    .bleat .handle{
        text-align: right;
    }

    .bleat .timestamp {
        text-align: right;
        color: #999;
        font-size: x-small;
    }

    .bleat .name {
        margin: 0;
        text-align: left;
    }

    .bleat .body-wrapper {
      margin: 2px;
    }
/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav, #timeline {
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    #nav {
        margin-left:-500px; /* "left col (nav + list)" width */
        width:150px;
        height: 100%;
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 2em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #timeline {
        height: 33%;
        border: 2px solid #ddd;
    }

    #main {
        top: 33%;
        right: 0;
        bottom: 0;
        left: 150px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }


/*
 * -- LOGIN SCREEN STYLING --
 */

  #loginwrapper {
    position : relative;
  }
  
  #formwrapper {
    position: absolute
    top : 50%
    left: 50%;
    transform: translate(-50%, -50%);
  }

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

    /* This will take up the entire height, and be a little thinner */
    #timeline {
        position: static;
        height: 100%;
        border-right: 1px solid #ddd;
    }

    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        position: static;
        margin: 0;
        padding: 0;
    }
}

