#main.pure-g
  #lspacing.pure-u-md-1-8
  #ldash.pure-u-1.pure-u-md-1-6
    = render :partial => "profile"
    = render :partial => "tweetcomposebox"
  .pure-u-md-1-24
    = render :partial => "timeline"
  #rspacing.pure-u-md-1-8

