#main.pure-g
  #lspacing.pure-u-md-1-8
  #ldash.pure-u-1.pure-u-md-1-6
    = partial :profile, locals: {avatar_url: profile.avatar_url, username: profile.username, handle: profile.handle, followcount: profile.followcount, followercount: profile.followercount}
    = partial :tweetcomposebox
  .pure-u-md-1-24
    = partial :timeline, locals: {tweets: tweets}
  #rspacing.pure-u-md-1-8
