#timeline
  - tweets.each do |tweet|
    = partial :tweet, locals: {avatarurl: tweet.author.avatarurl, username: tweet.author.username, handle: tweet.author.handle, timestamp: tweet.ts, body: tweet.body}
