
#composebox
  #tweet-input-wrapper
    %textarea #tweet-input-box {:placeholder = "Tweet goes here"}
  .pure-g
    .pure-u-md-1-2
    %button#tweet-submit-button.pure-u-1.pure-u-md-1-2.primary-button.pure-button = Post Tweet

